html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  padding-top: 20px;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
  padding-top:20px;
}

.footer-nav {
	margin-bottom: 0px;
}

.text-white {
	color: white;
}

#logo-img  {
	padding: 8px;
	margin-left: 200px;
}

#error-img {
	width: 1170px;
}

.msg {
	padding-bottom: 13px;
	margin-top: 25px;
	color: green;
}

.custom-table td {
	border: 1px solid #ddd;
}